<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div th:replace="template :: navigation"></div>
	<span class="error" th:text="${error}"></span>
	<!--  This should be a form to add a person to the database -->
	<form method="post">
		<div class="input_fields" id="name_fields">
			<input class="shortInput" type="text" name="prefix" placeholder="Prefix"/>
			<input type="text" name="firstName" placeholder="First name"/>
			<input type="text" name="lastName" placeholder="Last name"/>
			<input class="shortInput" type="text" name="suffix" placeholder="Suffix"/>
		</div>
		
		<div class="input_fields" id="contact_fields">
			<input type="text" name="phone" placeholder="Phone Number"/>
			<input type="text" name="email" placeholder="Email"/>
		</div>
		
		<div class="input_fields" id="address_fields">
			<input class="longInput" type="text" name="street" placeholder="Street"/>
			<br/>
			<input type="text" name="city" placeholder="City"/>
			<input class="shortInput" type="text" name="state" placeholder="State"/>
			<input class="shortInput" type="text" name="zipcode" placeholder="Zipcode"/>
		</div>
		
		<div class="input_fields" id="tag_fields">
			<!-- 
				drop down to select an active tag
				
				how do i make it so you can select and add multiple tags?
			 -->
		</div>
		
		<div class="input_fields" id="question_fields">
			<!-- 
				drop down to select an active question
				pick a question then a drop down with possible answers should appear
				
				how do i make it so you can select and add multiple Question/Answers?
			 -->
		</div>
		
		<input type="submit" value="Save Person"></input>
		
	</form>

</body>
</html>