<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div th:replace="template :: navigation"></div>
	<span class="error" th:text="${error}"></span>
	<!-- This should be a form to search for a person -->
	<form>
		<div class="input_fields" id="name_fields">
			<input type="text" name="prefix" placeholder="Prefix"/>
			<input type="text" name="firstName" placeholder="First name"/>
			<input type="text" name="lastName" placeholder="Last name"/>
			<input type="text" name="suffix" placeholder="Suffix"/>
		</div>
		
		<div class="input_fields" id="contact_fields">
			<input type="text" name="phone" placeholder="Phone Number"/>
			<input type="text" name="email" placeholder="Email"/>
		</div>
		
		<div class="input_fields" id="address_fields">
			<input type="text" name="street" placeholder="Street"/>
			<br/>
			<input type="text" name="city" placeholder="City"/>
			<input type="text" name="state" placeholder="State"/>
			<input type="text" name="zipcode" placeholder="Zipcode"/>
		</div>
	</form>
	
	
	<div class="search_results" id="search_results">
		<!-- iterate through results and show them here -->
	</div>

</body>
</html>